html,
body{
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
}

.menu{
    padding: 20px;
    background: #FACC2E;
    position: fixed;
    width: 100%;
    margin-bottom: 30px;
}

.menu ul{   
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li{
    list-style: none;
    padding-right: 20px; 
}

.menu a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}

.records{
    padding-top: 118px; 
}

.title{
    font-size: 2.5rem;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo{
    width: 30%;
    display: inline-block;
    margin: 0;
}

.logo img{
    width: 100%;
}


.client{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.client table{
    border: 1px solid #FACC2E;
    font-size: 22px;
    margin: 10px;
    padding: 25px;
    width: 100%;
}

.client table th{
    padding: 15px;
}

.create{
    border-top:2px solid #D8D8D8;
    border-bottom:2px solid #D8D8D8;
    padding: 20px;
}

.create h2{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
}

.create-container label{
    display: block;
}

.create-container{
    text-align: center;
    margin: 50px 50px;
    display: flex;
    flex-wrap: wrap;
}

.u-box{
    width: 50%;
}

.buttom{
    text-align: center;
    margin: 50px 0;
}

.buttom button{
    padding: 8px;
    border: none;
    background: #FACC2E;
    color: #fff;
    border-radius: 8px;
}

.search{
    text-align: center;
}

.search-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
}

.search-title{
    font-size: 2.5rem;
}

.search-container label{
    display: block;
}